#Main_sektion_Contact_information_page{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(145, 145, 145);
    margin-right: 28%;
    margin-left: 28%;
    margin-top: 15%;
    border: 20px solid rgb(145, 145, 145);
    border-radius: 5%;
    box-shadow: 8px 8px;
}

#Namn_av_sändare{
    width: 16vw
}

#Email_av_sändare{
    width: 16vw;
}

#Text_av_sändare{
    width: 16vw;
    height: 10vw;
}

@media screen and (max-width:950px){
    .Sido_text{font-size: 60%;}
    #Main_sektion_Contact_information_page{
        margin-right: 24%;
        margin-left: 24%;
        padding-bottom: 12%;
    }
}

@media screen and (min-width:950px){
    .Sido_text{font-size: 100%;}
    #Main_sektion_Contact_information_page{
        margin-right: 32%;
        margin-left: 32%;
        padding-bottom: 0;
    }
}