#Footer_bakgrund{
    background-color: rgb(89, 58, 58);
    margin-top: 12%;
    padding-bottom: 1%;
    margin-bottom: -10%;
    margin-left: -0.6%;
    margin-right: -0.6%;
    bottom: 0px;
    display: flex;
    align-content: center;
    margin-top: 20%;
}

#Media_icons_div{
    font-size: 2.5svw;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.Media_Länk{
    color: black;
    margin-right: 10%;
}

hr{
    background-color: black;
    border: none;
    height: 1%;
}


@media screen and (min-width:850px){
    #Följ_blumhouse_div{
        margin-top: 5%;
        margin-left: 42%;
    }
    #Footer_bakgrund{
        margin-left: -0.6%;
        margin-right: -0.6%;
    }
}

@media screen and (max-width:850px){
    #Följ_blumhouse_div{
        margin-top: 3.5%;
        margin-left: 15%;
    }
    #Footer_bakgrund{
        margin-left: -1%;
        margin-right: -1%;
    }
}