#Movie_information{
    background-color: rgb(145, 145, 145);
    margin: 5%;
    font-size: 1.5svw;
    box-shadow: 8px 8px;
    width: 17.5%;
}

#Bild_lista{
    float: right;

}

.tabell_rad{
    outline: 2px solid black;
}

.understryk{
    font-weight: bold;
}

#Main_sektion_home_page{
    display: flex;
    flex-direction: row;
    align-items: self-start;
}

.Film_posters{
    border: 2px solid black;
    border-radius: 20%;
    width: 12%;
    margin-top: 20%;
    margin-bottom: -8%;
}

.låg_opacity{
    opacity: 50%;
}