@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap'); /*Import av font*/

#Spindelväv_bild{
    margin-left: -10%;
    margin-top: -10%;
    filter: brightness(500%);
    width:30%;
    float: left;
}

.Info_text{
    color: white;
    font-family: "Inknut Antiqua", serif;
}

#Bakgrund_av_sök_fält{
    text-align: center;
    background-color: rgb(145, 145, 145);
    padding-top: 1%;
    margin-right: 25%;
    margin-left: 25%;
    filter: blur(100%);
}

.Sökfält_info_taggar{
    color:  rgb(100, 100, 100);
    font-size: 50%;
}


body{
    background-image: linear-gradient(rgb(89, 55, 55),rgb(72, 72, 72),rgb(72, 72, 72), rgb(89, 55, 55));
}

.Titlar_resultat{
    border: 2px solid black;
    margin: 2%;
    padding: 7%;
    display: flex;
    justify-content: space-around;
    font-size: 2.5vh;
}

#Resultat_bilder{
    float: left;
    margin-bottom: -10%;
    margin-top: -5%;
    margin-left: -12%;
    width: 16%;
    height: 16%;
    border: 0.5px black solid;
}


@media screen and (min-width:700px){
    .Info_text{font-size: 140%; margin-left: 35%;}
}


@media screen and (max-width:700px){
    .Info_text{font-size: 90%; margin-left: 28%;}
}