@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap'); /*Import av font*/

#Spindelväv_bild{
    margin-left: -10%;
    margin-top: -10%;
    filter: brightness(500%);
    width:30%;
    float: left;
}

.Info_text{
    color: white;
    margin-left: 35%;
    font-family: "Inknut Antiqua", serif;
    font-size: 140%;
}

#Bakgrund_av_sök_fält{
    text-align: center;
    background-color: rgb(145, 145, 145);
    padding-top: 1%;
    margin-right: 30%;
    margin-left: 30%;
}

.Sökfält_info_taggar{
    color:  rgb(100, 100, 100);
    font-size: 50%;
}


body{
    background-image: linear-gradient(rgb(89, 55, 55),rgb(72, 72, 72),rgb(72, 72, 72), rgb(89, 55, 55));
}